#navBar {
  background-color: #d5f4e6;
}

.w3-content {
   background: #234436;
}

.content {
   background: #d5f4e6;

}
.splash {
    background: #660000;
    height:auto;
    object-fit: contain;


}

.splashBody {
    background: black;
    text-align: center;

}

.letterhead {
    opacity: 100;
    padding:5px;
    align: center;
    object-fit: contain;
    max-width:75%;
}

.row {
    background: #61dafb;
    text-align: center;
    justify-content: center;

    display: flex;
    flex-direction: row;
    flex-flow: nowrap;

}

.column {
    flex: 0 1 calc(20%);

}

footer {
  background: black;
}

img {
    background: blue;
    flex: 10%;
    height: auto;
    opacity: 0.6;
    max-height: 1%;

}

body {
    background-color: black;
}

