* {
  box-sizing: border-box;
}

#navBar {
  background-color: #d5f4e6;
}

.w3-content {
   background: #d5f4e6;
}

#content {
   background: #d5f4e6;

}

.letterhead {
  max-width:75%;
  height: auto;
  opacity: 1;
  padding:5px;
  text-align: center;
}

.row {
    padding-left: 30%;
    display: flex;
    min-width: 100%;
}

.column {

    position: relative;
    align-items: center;
}

footer {
  background: black;
}

img {
    opacity: 0.6;
    max-width:70%;
    height:auto;
    object-fit: contain;
}

html, body {
  min-width: 100%;
}
